.tax-card:nth-child(1) {
    div{
        @include tdDataThree(92px,92px,$primary_radius,#f1f6fe);
        float: none;
        margin: 0 auto;
    }
    @include box(262px,273px,$white,22px 15px 54px rgba(0, 0, 0, 0.08),$primary_radius);
    position: absolute;
    right: 20%;
    top: 0;
    z-index: 2;
    transition: z-index 0ms 400ms;
    transition: transform 400ms 0ms, z-index 0ms 400ms;
    transition: transform 400ms 0ms, z-index 0ms 400ms;
    padding: 70px 0;
    @include phone {
        width: 90%;
        position: relative;
        margin: 5px auto;
        right: 0;
        top: 0;
        height: auto;
    }
        &:hover{
            transition: none;
            transition: none;
            transition: none;
            padding: none;
        }
        
    
    &:hover {
        transform: scale(1.3);
        z-index: 2;
        transition: z-index 0ms 0ms;
        transition: transform 400ms 0ms, z-index 0ms 0ms;
        transition: transform 400ms 0ms, z-index 0ms 0ms;
      }
    }
  
  .tax-card:nth-child(2) {
    div{
        @include tdDataThree(71px,74px,$primary_radius,#fdf2f4);
        float: none;
        margin: 0 auto;
    }
    @extend .tax-card:nth-child(1);
    @include phone {
        width: 90%;
        position: relative;
        margin: 5px auto;
        left: 0;
        top: 0;
        height: auto;
    }
    @include box(208px,227px,$white,-25px 15px 54px rgba(0, 0, 0, 0.08),$primary_radius);
    right: 0;
    top: 20%;
    z-index: 1;
    &:hover {
        div{
            @include tdDataThree(71px,74px,$primary_radius,#fdf2f4);
        }
        width: 273px;
        height: 262px;
        box-shadow: 22px 15px 54px rgba(0, 0, 0, 0.08);
       @extend .tax-card:nth-child(1):hover;
      }
  }
  
  .tax-card h5{
    display: block;
    font-size: 20px;
    font-weight: 500;
    font-family: $lato;
    width: 100%;
  }
  

  #tax {
    .sub-headline{
        @include tab {
            margin-top: 300px;
        }
        @include tab{
            margin-top: 40px;
        }
    }
    .tab-card {
        @include tab {
            margin-left: -150px;
        }
        @include phone{
            margin-left: 0;
        }
    }
  }