$mini_height: 12px;
$mini_width: 12px;

@import '../css/mixins';


.img-circle{
    height: 87px;
    width: 87px;
    background: $white;
    box-shadow: 0 10px 18px rgba(86, 15, 147, 0.1);
    border-radius: $circle;
}
.negative-margin{
    margin-top: -35px;
}
.section-headline{
    padding: 40px 340px;
    h2{
        color: $nav_color;
        padding-bottom: 40px;
    }
}
.free-space{
    width: 80px;
}
#features {
    table{
        width: 460px;
        border-collapse:separate; 
        border-spacing: 0 10px;
        @include tab{
            width: 100%;
        }
        thead{
            tr{
                @include head_value(56px,460px,$tr_shadow,$secondary_radius);
                @include tab {
                    width: 100%;
                }
                transition: .5s;
                &:hover{
                    box-shadow: $tr_hover_shadow;
                }
                th{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 30px;
                    &:nth-child(2){
                        padding: 0 15px;
                    }
                    .point{
                        width: 6px;
                        height: 6px;
                        border-radius: 4px;
                        background-color: #ccd3d6;
                        margin: 1px;
                        float: left;
                    }
                }
                
            }
        }
        tbody{
            tr{
                .mini-box{
                    height: 12px;
                    width: 12px;
                    border-radius: $primary_radius;
                    opacity: .31;
                    background: $white;
                }
                @include head_value(67px,460px,$tr_shadow,$secondary_radius);
                transition: .5s;
                &:hover{
                    box-shadow: $tr_hover_shadow;
                }
                &:nth-child(1){
                    td:nth-child(1){
                        @include firstColData(#29a69c,32px,32px,$secondary_radius);
                    }
                    td:nth-child(2){
                        div:nth-child(1){
                            @include tdData(5px,74px,#29a69c,4px,3px);
                        }
                        div:nth-child(2){
                            @include tdData(5px,46px,#e2e7e9,4px,3px);
                        }
                    }
                    td:nth-child(3){
                        div{
                            @include tdDataThree(5px,32px,4px,#dae0e3);
                        }
                    }
                    td:nth-child(4){
                        div{
                            @include tdDataThree(5px,26px,4px,#c1cbd0);
                        }
                    }
                    td:nth-child(5){
                        div{
                            @include tdDataThree(5px,21px,4px,#dae0e3);
                        }
                    }
                    td:nth-child(6){
                        div{
                            @include tdDataThree(5px,25px,4px,#dae0e3);
                        }
                    }
                }
                &:nth-child(2){
                    td:nth-child(1){
                        @include firstColData(#29a69c,32px,32px,$secondary_radius);
                    }
                    td:nth-child(2){
                        div:nth-child(1){
                            @include tdData(5px,74px,#29a69c,4px,3px);
                        }
                        div:nth-child(2){
                            @include tdData(5px,46px,#e2e7e9,4px,3px);
                        }
                    }
                    td:nth-child(3){
                        div{
                            @include tdDataThree(5px,32px,4px,#dae0e3);
                        }
                    }
                    td:nth-child(4){
                        div{
                            @include tdDataThree(5px,26px,4px,#c1cbd0);
                        }
                    }
                    td:nth-child(5){
                        div{
                            @include tdDataThree(5px,21px,4px,#dae0e3);
                        }
                    }
                    td:nth-child(6){
                        div{
                            @include tdDataThree(5px,25px,4px,#dae0e3);
                        }
                    }
                }
                &:nth-child(3){
                    .rowThreeColOne{
                        @include firstColData(#3b80f4,32px,32px,$secondary_radius);
                    }
                    td:nth-child(2){
                        div:nth-child(1){
                            @include tdData(5px,74px,#29a69c,4px,3px);
                        }
                        div:nth-child(2){
                            @include tdData(5px,46px,#e2e7e9,4px,3px);
                        }
                    }
                    td:nth-child(3){
                        div{
                            @include tdDataThree(5px,32px,4px,#dae0e3);
                        }
                    }
                    td:nth-child(4){
                        div{
                            @include tdDataThree(5px,26px,4px,#c1cbd0);
                        }
                    }
                    td:nth-child(5){
                        div{
                            @include tdDataThree(5px,21px,4px,#dae0e3);
                        }
                    }
                    td:nth-child(6){
                        div{
                            @include tdDataThree(5px,25px,4px,#dae0e3);
                        }
                    }
                    
                }
                
            
            }
        }
    }
    
    
}