#reports{
    .report-block{
        @include tab {
            margin: auto;
        }
        @include box(auto,459px,$white,-1px 15px 54px rgba(0, 0, 0, 0.08),$secondary_radius);
        padding: 30px;
        @include tab {
            width: 100%;
        }
    }
}
.report-block{
    .col{
        .head{
            &:nth-child(1){
                float: left;
                margin: 5px;
                border: 1px solid #000000;
                background: white;
                height: 20px;
                width: 73px;
                border-radius: $primary_radius;
            }
            &:nth-child(2){
                @extend .head:nth-child(1);
            }
            &:nth-child(3){
                @extend .head:nth-child(1);
            }
        }
    }
}
.report-block{
    .col{
        .head{
            &:nth-child(1){
                div{
                    &:nth-child(1){
                        @include miniRac(5px,10px,#dccae2,$primary_radius);
                    }
                }
            }
        }
    }
}

.small-head{
    &:nth-child(1){
            width: 41px;
            height: 20px;
            border-radius: 3px 0 0 3px;
            border: 1px solid #000000;
            background-color: #ffffff;
            margin: 5px 0;
            div{
                height: 5px;
                width: 18px;
                border-radius: $primary_radius;
                background: #f3e7ea;
            }
    }
    &:nth-child(2){
        @extend .small-head:nth-child(1);
        border-radius: 0px 3px 3px 0;
        div{
            height: 5px;
            width: 18px;
            border-radius: $primary_radius;
            background: #e7f3e9;
        }
    }
    
}



.report-block {
    .col {
        .head{
            &:nth-child(1) div{
                &:nth-child(1){
                    float: left;
                    margin: 3px;
                   @include miniRac(5px,10px,#dccae2,$primary_radius);
                }
                &:nth-child(2){
                    float: left;
                    margin: 3px;
                    @include miniRac(5px,34px,#f1eff1,$primary_radius);
                }
            }
            &:nth-child(2) div{
                &:nth-child(1){
                    float: left;
                    margin: 3px;
                   @include miniRac(5px,10px,#cad1e2,$primary_radius);
                }
                &:nth-child(2){
                    float: left;
                    margin: 3px;
                    @include miniRac(5px,34px,#f1eff1,$primary_radius);
                }
            }
            &:nth-child(3) div{
                &:nth-child(1){
                    float: left;
                    margin: 3px;
                   @include miniRac(5px,10px,#e2caca,$primary_radius);
                }
                &:nth-child(2){
                    float: left;
                    margin: 3px;
                    @include miniRac(5px,34px,#f1eff1,$primary_radius);
                }
            }
        }
    }
}

.table-body{
    .body-row{
        margin: 15px 0;
        @include cardBorder(34px,405px,#f1f6fe,$primary_radius,1);
        @include tab {
            width: 100%;
        }
        transition: .5s;
        &:hover{
            @include box(27px,406px,$white,2px 3px 24px rgba(74, 33, 88, 0.12),$primary_radius);
            @include tab {
                width: 100%;
            }
        }
        &:nth-child(1){
            div{
                float: left;
                margin: 0 22px;
                &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6){
                    @include tdDataThree(5px,22px,$primary_radius,#e0e3e6);
                }
            }
        }
        &:nth-child(2){
            div{
                margin: 0 22px;
                &:nth-child(1){
                    @include tdDataThree(5px,43px,$primary_radius,#80adf8);
                }
                &:nth-child(3){
                    @extend div:nth-child(1);
                    width: 37px;
                }
                &:nth-child(5){
                    @extend div:nth-child(1);
                    width: 30px;
                }
                &:nth-child(2){
                    @include tdDataThree(5px,22px,$primary_radius,#c9dcfc);
                }
                &:nth-child(4){
                    @extend div:nth-child(2);
                    width: 32px;
                }
                &:nth-child(6){
                    @extend div:nth-child(2);
                    width: 21px;
                }
            }
        }
        &:nth-child(3){
            div{
                margin: 0 22px;
                &:nth-child(1){
                    @include tdDataThree(5px,28px,$primary_radius,#f9cdd3);
                }
                &:nth-child(3){
                    @extend div:nth-child(1);
                    width: 42px;
                }
                &:nth-child(5){
                    @extend div:nth-child(1);
                    width: 30px;
                }
                &:nth-child(2){
                    @include tdDataThree(5px,22px,$primary_radius,#f18997);
                }
                &:nth-child(4){
                    @extend div:nth-child(2);
                    width: 32px;
                }
                &:nth-child(6){
                    @extend div:nth-child(2);
                    width: 15px;
                }
            }
        }
        &:nth-child(4){
            div{
                margin: 0 22px;
                &:nth-child(1){
                    @include tdDataThree(5px,38px,$primary_radius,#b766fe);
                }
                &:nth-child(3){
                    @extend div:nth-child(1);
                    width: 36px;
                }
                &:nth-child(5){
                    @extend div:nth-child(1);
                    width: 30px;
                }
                &:nth-child(2){
                    @include tdDataThree(5px,22px,$primary_radius,#e8cdff);
                }
                &:nth-child(4){
                    @extend div:nth-child(2);
                    width: 32px;
                }
                &:nth-child(6){
                    @extend div:nth-child(2);
                    width: 21px;
                }
            }
        }
    }

}