#search{
    margin-top: 200px;
    @include tab {
        margin-top: 320px;
    }
    @include phone {
        margin-top: 30px;
    }
    .item-block{
        position: relative;
        @include box(262px,291px,$white,5px 15px 54px rgba(0, 0, 0, 0.15),$secondary_radius);
        @include phone {
            width: 90%;
            margin: 0 auto;
        }
        .item-icon{
            @include  searchPosition(65px,65px,113px,$position);
            top: 58px;
            box-shadow: -1px 15px 32px rgba(91, 0, 169, 0.3);
            border: 8px solid $white;
            background-image: linear-gradient(-224.03deg, #c444fb 0%, #5b56d7 100%);
            opacity: 0.85;
            border-radius: 50px;
        }
        .search-input{
            @include  searchPosition(42px,220px,46px,$position);
            bottom: 55px;
            padding: 16px;
        }
    }
    
}

