#demo{
    background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);
    padding: 70px 0;
    border-radius: 200px;
    @include tab {
        border-radius: 0;
        padding: 40px 0;
    }
    h1{
        font-size: 34px;
        color: $white;
        @include phone {
            font-size: 22px;
        }
    }
    p{
        color: #8ddcff;
    }
    img{
        height: 123px;
        width: 92px;

        @include tab {
            margin: auto;
        }  
    }
}

.demo-btn{
    @include box(50px,159px,$white,-1px 8px 15px rgba(0, 0, 0, 0.13),$primary_radius);
    color: #009df5;
    @include phone {
        width: 115px;
        height: 40px;
    }
}