.navbar-light {
    .navbar-brand{
        img{
            height: $logo_height;
            width: $logo_width;
        }
    }
    .navbar-nav {
        .nav-item {
            text-align: center;
            .nav-link {
                color: $nav_color;
                padding: $nav_padding;
                line-height: $nav_height;
                width: $nav_width;
                transition: 1s;
                &:hover{
                    box-shadow: $nav_shadow;
                }
            }
        }
    } 
}
