.import-box{
    @include box(291px,419px,$white,-1px 15px 54px rgba(0, 0, 0, 0.08),$secondary_radius);
    @include tab {
        width: 90%;
        margin: auto;
        height: auto;
    }
    padding: 30px;
    color: #2c3847;
    font-size: 18px;
    font-weight: 700;
}
form {
    .form-control:focus{
        border-color: #e5ebed;
        box-shadow: none;
    }
    .form-group{
        margin: 30px 0;
            .form-control{
                &:focus{
                    border-color: #e5ebed!important;
                }
            }
        
    }
}
.btn-white{
    @include box(35px,80px,#fcf9fd,0 3px 8px rgba(0, 0, 0, 0.05),$primary_radius);
    border: 1px solid #ddc7e6;
    color: #ac76c3;
}