.car-head h3{
    font-family: "Lato - Semibold";
    font-size: 30px;
    margin-top: 70px;
    @include phone{
        font-size: 22px;
        margin-top: 10px;
    }
}

.car-head{
    @include tab {
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }
   
}

.skewed{
    width: 100%;
}
.skewed span:nth-child(odd){
    width: 25%;
    height: 570px;
    transform: skewY(-8deg);
    float: left;
    background-image: linear-gradient(to bottom, #f9fbfe 0%, rgba(80, 56, 185, 0.15) 100%);
    @include tab{
        height: 800px;
    }
}
.card-holder{
    @include tab {
        width: 90%;
        margin: auto;
    }
    .price-box{
        @include tab{
            width: 24%;
            margin: 3px;
        }
        @include phone {
            width: 22%;
        }
    }
}
.tab-center{
    @include tab {
        width: 80%;
        margin: 0 auto;
    }
}
.skewed span:nth-child(even){
    width: 25%;
    height: 570px;
    transform: skewY(8deg);
    float: left;
    background-image: linear-gradient(to bottom, #f9fbfe 0%, rgba(80, 56, 185, 0.15) 100%);
    @include tab{
        height: 800px;
    }
    
}

.carousel-img-bg{
    height: 312px;
    background: $violet;
}
.carousel-img-card-footer{
    height: 68px;
    background: $white;
} 
.carousel-img-card{
    height: 372px;
    width: 470px;
    box-shadow: $carousel_box_shadow;
    border-radius: 0 0 5px 5px;
    margin-top: 130px;
    @include tab {
        width: 100%;
        height: auto;
        margin-top: 0;
    }
}
.img-violet{
    height: 175px;
    width: 175px;
}
.skew-odd{
    transform: $skew_odd;
    background: $carousel_bg;
    height: 650px;
    margin-top: $skew_ngtv_margin;
    width: 25%;
}
.skew-even{
    transform: $skew_even;
    background: $carousel_bg;
    height: 650px;
    margin-top: $skew_ngtv_margin;
    width: 25%;
}
.price-box{
height: 110px;    
width: 110px;
box-shadow: $box_shadow;
border-radius: $primary_radius;
background-color: $white;
margin: $margin_auto;
float: left;
margin: 5px;
transition: 1s;
&:hover{
    background-image: linear-gradient(-218.19deg, #7ed500 0%, #00bf8d 100%);
}
&:hover p,&:hover h6{
    color: $white;
}
.mute-text{
    color: $muted_color;
}
p{
    color: $muted_color;
}

}
.purchase-btn{
    background: $primary_blue;
    border-color: $primary_blue;
    border-radius: $primary_radius;
    width: 130px;
    height: 40px;
    color: $white;
    @include tab {
        margin: auto;
    }
}
.absolute-position{
    position: absolute;
    left: 0;
    top: 0;
}