$carousel_box_shadow: 0 19px 24px rgba(6, 5, 5, 0.1);
$nav_shadow : 0 6px 16px rgba(10, 37, 77, 0.17);
$box_shadow: 2px 3px 24px rgba(74, 33, 88, 0.12);
$tr_shadow: 2px 3px 24px rgba(74, 33, 88, 0.09);
$tr_hover_shadow: 14px 17px 67px rgba(74, 33, 88, 0.25);