@mixin head_value($height,$width,$shadow,$radius) {
    height: $height;
    width: $width;
    box-shadow: $shadow;
    border-radius: $radius;
}
@mixin firstColData($bg_color,$height,$width,$radius){
    background: $bg_color;
    height: $height;
    width: $width;
    border-radius: $radius;
}
@mixin tdData($height,$width,$bg_color,$radius,$margin){
    height: $height;
    width: $width;
    background: $bg_color;
    border-radius: $radius;
    margin: $margin;
}
@mixin tdDataThree($height,$width,$radius,$bg_color) {
    height: $height;
    width: $width;
    border-radius: $radius;
    background: $bg_color;
}

@mixin cardBorder($height,$width,$bg_color,$radius,$opacity) {
    height: $height;
    width: $width;
    background: $bg_color;
    border-radius: $radius;
    opacity: $opacity;
}
@mixin box($height,$width,$bg_color,$shadow,$radius){
    height: $height;
    width: $width;
    background: $bg_color;
    box-shadow: $shadow;
    border-radius: $radius;
}
@mixin searchPosition($height,$width,$leftPos,$position) {
    height: $height;
    width: $width;
    position: $position;
    left: $leftPos;
}
@mixin headParent($height,$width,$border,$bg_color) {
    height: $height;
    width: $width;
    border: $border;
    border-radius: $radius;
    background: $bg_color;
}

@mixin miniRac($height,$width,$bg_color,$radius){
    height: $height;
    width: $width;
    background: $bg_color;
    border-radius: $radius;
}

@mixin phone {
    @media only screen and (max-width: 767px){
        @content;
    }
}
@mixin tab {
    @media only screen and (max-width: 991px){
        @content;
    }
}