$lato: 'Lato', sans-serif;
$nav_width: 100px;
$nav_padding: 0 .5rem;
$nav_height: 40px;
$navbar_height: 86px;
$logo_height: 32px;
$logo_width: 130px;
$carousel_height: 620px;
$skew_odd: skewY(-8deg);
$skew_even: skewY(8deg);
$no_margin: 0;
$no_padding: 0;
$skew_ngtv_margin: -30px;
$primary_radius: 3px;
$secondary_radius: 5px;
$margin_auto: auto;
$circle: 100px;
$position: absolute;
