@import './boxShadow';
@import './colors';
@import './variables';
@import './mediaQuery';

@import './mixins';
@import '../Navbar/navbar';
@import '../Carousel/carousel';
@import '../Features/features';
@import '../Products/products';
@import '../Search/search';
@import '../Reports/reports';
@import '../Tax/tax';
@import '../Import/import';
@import '../Screenshot/screenshot';
@import '../Demo/demo';
@import '../Footer/footer';




#products,#demo,footer,#tax,#screen-shot,#reports{
    margin-top: 130px;
    @include phone{
        margin-top: 30px;
    }
}

#import{
    margin-top: 200px;
    @include phone{
        margin-top: 30px;
    }
}

body,p,button,h1,h2,h6,h5,h3,h4,li,table,form{
    font-family: $lato;
}

.d-50{
    width: 50%;
    padding: 30px;
    
    p{
        display: inline;
        padding-left: 20px;
    }
}
ul{
    list-style-type: none;
    padding: 0;
    li{
        font-size: 14px;
        font-weight: 700;
        color: #758598;
        line-height: 30px;
    }
}
p,form{
    font-weight: 400;
    font-size: 16px;
    color: $muted_color;
}
.sub-headline {
    h3{
        font-weight: 700;
        color: #2c3847;
        width: 320px;
        font-size: 30px;
        @include phone {
            font-size: 20px;
        }
    }
    p{
        width: 380px;
        @include phone {
            font-size: 14px;
        }
    }
}
h2{
    font-size: 40px;
    @include phone{
        font-size: 22px;
    }
}
h6{
    font-size: 18px;
}
h1,h2,h5,h6{
    font-weight: 700;
}
.clr{
    clear: both;
}

.mute-text{
    color: $muted_color;
}
.section-headline{
    @include tab {
        padding: 0;
    }
}
.sub-headline{
    @include tab {
        width: 90%;
        margin: 0px auto;
        padding: 30px 0;
    }
    @include phone {
        width: 90%;
        margin: 0 auto;
        padding: 30px 0;
    }
    h3{
        @include tab {
            width: 90%;
            margin: 0px auto;
        }
    }
    p{
        @include tab {
            width: 90%;
            margin: 0 auto;
        }
    }
}