.navbar-light .navbar-brand img {
  height: 32px;
  width: 130px;
}

.navbar-light .navbar-nav .nav-item {
  text-align: center;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #2c3847;
  padding: 0 0.5rem;
  line-height: 40px;
  width: 100px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  -webkit-box-shadow: 0 6px 16px rgba(10, 37, 77, 0.17);
          box-shadow: 0 6px 16px rgba(10, 37, 77, 0.17);
}

#carousel {
  margin: auto;
}

.carousel-img-bg {
  height: 312px;
  background: #644a9e;
}

.carousel-img-card-footer {
  height: 68px;
  background: #ffffff;
}

.carousel-img-card {
  height: 372px;
  width: 470px;
  -webkit-box-shadow: 0 19px 24px rgba(6, 5, 5, 0.1);
          box-shadow: 0 19px 24px rgba(6, 5, 5, 0.1);
  border-radius: 0 0 5px 5px;
}

.img-violet {
  height: 175px;
  width: 175px;
}

.skew-odd {
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#f9fbfe), to(rgba(80, 56, 185, 0.62)));
  background: linear-gradient(to bottom, #f9fbfe 0%, rgba(80, 56, 185, 0.62) 100%);
  height: 650px;
  margin-top: -30px;
  z-index: -1;
  opacity: .15;
}

.skew-even {
  -webkit-transform: skewY(8deg);
          transform: skewY(8deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#f9fbfe), to(rgba(80, 56, 185, 0.62)));
  background: linear-gradient(to bottom, #f9fbfe 0%, rgba(80, 56, 185, 0.62) 100%);
  height: 650px;
  margin-top: -30px;
  z-index: -1;
  opacity: .15;
}

.price-box {
  height: 110px;
  width: 110px;
  -webkit-box-shadow: 2px 3px 24px rgba(74, 33, 88, 0.12);
          box-shadow: 2px 3px 24px rgba(74, 33, 88, 0.12);
  border-radius: 3px;
  background-color: #ffffff;
  margin: auto;
  float: left;
  margin: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.price-box:hover {
  background-image: linear-gradient(-218.19deg, #7ed500 0%, #00bf8d 100%);
}

.price-box:hover p, .price-box:hover h6 {
  color: #ffffff;
}

.price-box p {
  color: #758598;
}

.purchase-btn {
  background: #2b62c9;
  border-color: #2b62c9;
  border-radius: 3px;
  width: 130px;
  height: 40px;
  color: #ffffff;
}

.absolute-position {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}

#features {
  padding-bottom: 50px;
}

.img-circle {
  height: 87px;
  width: 87px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 18px rgba(86, 15, 147, 0.1);
          box-shadow: 0 10px 18px rgba(86, 15, 147, 0.1);
  border-radius: 100px;
}

.negative-margin {
  margin-top: -35px;
}

.section-headline {
  padding: 105px 365px;
}

.section-headline h2 {
  color: #2c3847;
  padding-bottom: 40px;
}

.free-space {
  width: 80px;
}

table {
  width: 460px;
  border-collapse: separate;
  border-spacing: 0 10px;
}

table thead tr {
  height: 56px;
  width: 460px;
  -webkit-box-shadow: 2px 3px 24px rgba(74, 33, 88, 0.09);
          box-shadow: 2px 3px 24px rgba(74, 33, 88, 0.09);
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

table thead tr:hover {
  -webkit-box-shadow: 14px 17px 67px rgba(74, 33, 88, 0.25);
          box-shadow: 14px 17px 67px rgba(74, 33, 88, 0.25);
}

table thead tr th {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}

table thead tr th:nth-child(2) {
  padding: 0 15px;
}

table thead tr th .point {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: #ccd3d6;
  margin: 1px;
  float: left;
}

table tbody tr {
  height: 67px;
  width: 460px;
  -webkit-box-shadow: 2px 3px 24px rgba(74, 33, 88, 0.09);
          box-shadow: 2px 3px 24px rgba(74, 33, 88, 0.09);
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

table tbody tr .mini-box {
  height: 12px;
  width: 12px;
  border-radius: 3px;
  opacity: .31;
  background: #ffffff;
}

table tbody tr:hover {
  -webkit-box-shadow: 14px 17px 67px rgba(74, 33, 88, 0.25);
          box-shadow: 14px 17px 67px rgba(74, 33, 88, 0.25);
}

table tbody tr:nth-child(1) td:nth-child(1) {
  background: #29a69c;
  height: 32px;
  width: 32px;
  border-radius: 5px;
}

table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(1), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(3), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(5), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(3), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(5), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(3), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(5) {
  height: 5px;
  width: 74px;
  background: #29a69c;
  border-radius: 4px;
  margin: 3px;
}

table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(2), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(4), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(6), .table-body .body-row:nth-child(2) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(6), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(4), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(6), .table-body .body-row:nth-child(3) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(6), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(4), table tbody tr:nth-child(1) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(6), .table-body .body-row:nth-child(4) table tbody tr:nth-child(1) td:nth-child(2) div:nth-child(6) {
  height: 5px;
  width: 46px;
  background: #e2e7e9;
  border-radius: 4px;
  margin: 3px;
}

table tbody tr:nth-child(1) td:nth-child(3) div {
  height: 5px;
  width: 32px;
  border-radius: 4px;
  background: #dae0e3;
}

table tbody tr:nth-child(1) td:nth-child(4) div {
  height: 5px;
  width: 26px;
  border-radius: 4px;
  background: #c1cbd0;
}

table tbody tr:nth-child(1) td:nth-child(5) div {
  height: 5px;
  width: 21px;
  border-radius: 4px;
  background: #dae0e3;
}

table tbody tr:nth-child(1) td:nth-child(6) div {
  height: 5px;
  width: 25px;
  border-radius: 4px;
  background: #dae0e3;
}

table tbody tr:nth-child(2) td:nth-child(1) {
  background: #29a69c;
  height: 32px;
  width: 32px;
  border-radius: 5px;
}

table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(1), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(3), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(5), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(3), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(5), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(3), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(5) {
  height: 5px;
  width: 74px;
  background: #29a69c;
  border-radius: 4px;
  margin: 3px;
}

table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(2), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(4), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(6), .table-body .body-row:nth-child(2) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(6), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(4), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(6), .table-body .body-row:nth-child(3) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(6), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(4), table tbody tr:nth-child(2) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(6), .table-body .body-row:nth-child(4) table tbody tr:nth-child(2) td:nth-child(2) div:nth-child(6) {
  height: 5px;
  width: 46px;
  background: #e2e7e9;
  border-radius: 4px;
  margin: 3px;
}

table tbody tr:nth-child(2) td:nth-child(3) div {
  height: 5px;
  width: 32px;
  border-radius: 4px;
  background: #dae0e3;
}

table tbody tr:nth-child(2) td:nth-child(4) div {
  height: 5px;
  width: 26px;
  border-radius: 4px;
  background: #c1cbd0;
}

table tbody tr:nth-child(2) td:nth-child(5) div {
  height: 5px;
  width: 21px;
  border-radius: 4px;
  background: #dae0e3;
}

table tbody tr:nth-child(2) td:nth-child(6) div {
  height: 5px;
  width: 25px;
  border-radius: 4px;
  background: #dae0e3;
}

table tbody tr:nth-child(3) .rowThreeColOne {
  background: #3b80f4;
  height: 32px;
  width: 32px;
  border-radius: 5px;
}

table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(1), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(3), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(5), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(3), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(5), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(3), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(5) {
  height: 5px;
  width: 74px;
  background: #29a69c;
  border-radius: 4px;
  margin: 3px;
}

table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(2), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(4), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(6), .table-body .body-row:nth-child(2) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(6), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(4), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(6), .table-body .body-row:nth-child(3) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(6), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(4), table tbody tr:nth-child(3) td:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(6), .table-body .body-row:nth-child(4) table tbody tr:nth-child(3) td:nth-child(2) div:nth-child(6) {
  height: 5px;
  width: 46px;
  background: #e2e7e9;
  border-radius: 4px;
  margin: 3px;
}

table tbody tr:nth-child(3) td:nth-child(3) div {
  height: 5px;
  width: 32px;
  border-radius: 4px;
  background: #dae0e3;
}

table tbody tr:nth-child(3) td:nth-child(4) div {
  height: 5px;
  width: 26px;
  border-radius: 4px;
  background: #c1cbd0;
}

table tbody tr:nth-child(3) td:nth-child(5) div {
  height: 5px;
  width: 21px;
  border-radius: 4px;
  background: #dae0e3;
}

table tbody tr:nth-child(3) td:nth-child(6) div {
  height: 5px;
  width: 25px;
  border-radius: 4px;
  background: #dae0e3;
}

.sub-headline h3 {
  padding: 60px 0 40px;
}

#products {
  padding: 60px 0;
  margin-bottom: 100px;
}

.product-card {
  width: 270px;
  height: 250px;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 25px 30px;
  -webkit-transition: 3s;
  transition: 3s;
}

.product-card .neg-index {
  z-index: -1;
  position: absolute;
  top: 0;
}

.product-card h4 {
  font-size: 18px;
  font-weight: 500;
  color: #2c3847;
}

.product-card:nth-child(1) {
  -webkit-box-shadow: 2px 4px 30px rgba(74, 33, 88, 0.09);
          box-shadow: 2px 4px 30px rgba(74, 33, 88, 0.09);
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.product-card:nth-child(1):hover {
  -webkit-box-shadow: 31px 26px 64px rgba(74, 33, 88, 0.23);
          box-shadow: 31px 26px 64px rgba(74, 33, 88, 0.23);
  z-index: 100;
}

.product-card:nth-child(2) {
  -webkit-box-shadow: 2px 4px 30px rgba(74, 33, 88, 0.09);
          box-shadow: 2px 4px 30px rgba(74, 33, 88, 0.09);
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 235px;
  width: 226px;
}

.product-card:nth-child(2):hover {
  z-index: 100;
  left: 30%;
  width: 270px;
  -webkit-box-shadow: 31px 26px 64px rgba(74, 33, 88, 0.23);
          box-shadow: 31px 26px 64px rgba(74, 33, 88, 0.23);
}

.product-card:nth-child(2) li:nth-child(1) .card-border {
  height: 7px;
  width: 160px;
  background: -webkit-gradient(linear, left top, right top, from(#1abc9c), color-stop(40%, #b9eae1), to(#ffffff));
  background: linear-gradient(to right, #1abc9c 0%, #b9eae1 40%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.product-card:nth-child(2) li:nth-child(2) .card-border {
  height: 7px;
  width: 130px;
  background: -webkit-gradient(linear, left top, right top, from(#9013fe), to(#ffffff));
  background: linear-gradient(to right, #9013fe 0%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.product-card:nth-child(2) li:nth-child(3) .card-border {
  height: 7px;
  width: 160px;
  background: -webkit-gradient(linear, left top, right top, from(#2b62c9), to(#ffffff));
  background: linear-gradient(to right, #2b62c9 0%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.product-card:nth-child(2) li:nth-child(4) .card-border {
  height: 7px;
  width: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#f09944), to(#ffffff));
  background: linear-gradient(to right, #f09944 0%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.product-card:nth-child(3) {
  -webkit-box-shadow: 2px 4px 30px rgba(74, 33, 88, 0.09);
          box-shadow: 2px 4px 30px rgba(74, 33, 88, 0.09);
  z-index: -1;
  position: absolute;
  top: 150px;
  left: 60px;
}

.product-card:nth-child(3):hover {
  -webkit-box-shadow: 31px 26px 64px rgba(74, 33, 88, 0.23);
          box-shadow: 31px 26px 64px rgba(74, 33, 88, 0.23);
  z-index: 100;
  top: 30%;
}

.product-card:nth-child(3) .card-border:nth-child(1) {
  position: absolute;
  top: 40%;
  height: 5px;
  width: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#2b62c9), to(#ffffff));
  background: linear-gradient(to right, #2b62c9 0%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.product-card:nth-child(3) .card-border:nth-child(2) {
  position: absolute;
  top: 50%;
  height: 5px;
  width: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#2b62c9), to(#ffffff));
  background: linear-gradient(to right, #2b62c9 0%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.product-card:nth-child(3) .card-border:nth-child(3) {
  position: absolute;
  top: 60%;
  height: 5px;
  width: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#2b62c9), to(#ffffff));
  background: linear-gradient(to right, #2b62c9 0%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.product-card:nth-child(3) .card-border:nth-child(4) {
  position: absolute;
  top: 70%;
  height: 5px;
  width: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#2b62c9), to(#ffffff));
  background: linear-gradient(to right, #2b62c9 0%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.product-card:nth-child(3) .card-border:nth-child(5) {
  position: absolute;
  top: 80%;
  height: 5px;
  width: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#2b62c9), to(#ffffff));
  background: linear-gradient(to right, #2b62c9 0%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.product-card:nth-child(3) .card-border:nth-child(6) {
  position: absolute;
  top: 90%;
  height: 5px;
  width: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#2b62c9), to(#ffffff));
  background: linear-gradient(to right, #2b62c9 0%, #ffffff 100%);
  border-radius: 4px;
  opacity: 0.4;
}

#search {
  margin: 60px 0 120px;
}

#search .item-block {
  position: relative;
  height: 262px;
  width: 291px;
  background: #ffffff;
  -webkit-box-shadow: 5px 15px 54px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 15px 54px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 291px;
  height: 262px;
  box-shadow: 5px 15px 54px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
}

#search .item-block .item-icon {
  height: 65px;
  width: 65px;
  position: absolute;
  left: 113px;
  top: 58px;
  -webkit-box-shadow: -1px 15px 32px rgba(91, 0, 169, 0.3);
          box-shadow: -1px 15px 32px rgba(91, 0, 169, 0.3);
  border: 8px solid #ffffff;
  background-image: linear-gradient(-224.03deg, #c444fb 0%, #5b56d7 100%);
  opacity: 0.85;
  border-radius: 50px;
}

#search .item-block .search-input {
  height: 42px;
  width: 220px;
  position: absolute;
  left: 46px;
  bottom: 55px;
  padding: 16px;
}

#reports {
  padding: 40px 0 60px;
}

#reports .report-block {
  height: 291px;
  width: 459px;
  background: #ffffff;
  -webkit-box-shadow: -1px 15px 54px rgba(0, 0, 0, 0.08);
          box-shadow: -1px 15px 54px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 30px;
}

.report-block .col .head:nth-child(1), .report-block .col .head:nth-child(2), .report-block .col .head:nth-child(3) {
  float: left;
  margin: 5px;
  border: 1px solid #000000;
  background: white;
  height: 20px;
  width: 73px;
  border-radius: 3px;
}

.report-block .col .head:nth-child(1) div:nth-child(1), .report-block .col .head:nth-child(2) div:nth-child(1), .report-block .col .head:nth-child(3) div:nth-child(1), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(1) div:nth-child(3), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(3), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(3), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(1) div:nth-child(5), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(5), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(5), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(1) div:nth-child(3), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(3), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(3), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(1) div:nth-child(5), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(5), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(5), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(1) div:nth-child(3), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(3), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(3), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(1) div:nth-child(5), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(5), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(5) {
  height: 5px;
  width: 10px;
  background: #dccae2;
  border-radius: 3px;
}

.small-head:nth-child(1), .small-head:nth-child(2) {
  width: 41px;
  height: 20px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin: 0;
}

.small-head:nth-child(1) div, .small-head:nth-child(2) div {
  height: 5px;
  width: 18px;
  border-radius: 3px;
  background: #f3e7ea;
}

.small-head:nth-child(2) {
  border-radius: 0px 3px 3px 0;
}

.small-head:nth-child(2) div {
  height: 5px;
  width: 18px;
  border-radius: 3px;
  background: #e7f3e9;
}

.report-block .col .head:nth-child(1) div:nth-child(1), .report-block .col .head:nth-child(2) div:nth-child(1), .report-block .col .head:nth-child(3) div:nth-child(1), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(1) div:nth-child(3), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(3), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(3), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(1) div:nth-child(5), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(5), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(5), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(1) div:nth-child(3), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(3), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(3), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(1) div:nth-child(5), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(5), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(5), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(1) div:nth-child(3), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(3), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(3), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(1) div:nth-child(5), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(5), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(5) {
  float: left;
  margin: 3px;
  height: 5px;
  width: 10px;
  background: #dccae2;
  border-radius: 3px;
}

.report-block .col .head:nth-child(1) div:nth-child(2), .report-block .col .head:nth-child(2) div:nth-child(2), .report-block .col .head:nth-child(3) div:nth-child(2), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(1) div:nth-child(4), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(4), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(4), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(2) div:nth-child(6), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(1) div:nth-child(6), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(6), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(6), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(6), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(6), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(1) div:nth-child(4), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(4), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(4), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(3) div:nth-child(6), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(1) div:nth-child(6), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(6), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(6), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(6), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(6), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(1) div:nth-child(4), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(4), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(4), .report-block .col .head:nth-child(1) .table-body .body-row:nth-child(4) div:nth-child(6), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(1) div:nth-child(6), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(6), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(6), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(6), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(6) {
  float: left;
  margin: 3px;
  height: 5px;
  width: 34px;
  background: #f1eff1;
  border-radius: 3px;
}

.report-block .col .head:nth-child(2) div:nth-child(1), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(3), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(5), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(3), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(5), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(3), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(5) {
  float: left;
  margin: 3px;
  height: 5px;
  width: 10px;
  background: #cad1e2;
  border-radius: 3px;
}

.report-block .col .head:nth-child(2) div:nth-child(2), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(4), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(2) div:nth-child(6), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(2) div:nth-child(6), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(4), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(3) div:nth-child(6), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(2) div:nth-child(6), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(4), .report-block .col .head:nth-child(2) .table-body .body-row:nth-child(4) div:nth-child(6), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(2) div:nth-child(6) {
  float: left;
  margin: 3px;
  height: 5px;
  width: 34px;
  background: #f1eff1;
  border-radius: 3px;
}

.report-block .col .head:nth-child(3) div:nth-child(1), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(3), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(5), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(3), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(5), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(3), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(5) {
  float: left;
  margin: 3px;
  height: 5px;
  width: 10px;
  background: #e2caca;
  border-radius: 3px;
}

.report-block .col .head:nth-child(3) div:nth-child(2), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(4), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(2) div:nth-child(6), .table-body .body-row:nth-child(2) .report-block .col .head:nth-child(3) div:nth-child(6), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(4), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(3) div:nth-child(6), .table-body .body-row:nth-child(3) .report-block .col .head:nth-child(3) div:nth-child(6), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(4), .report-block .col .head:nth-child(3) .table-body .body-row:nth-child(4) div:nth-child(6), .table-body .body-row:nth-child(4) .report-block .col .head:nth-child(3) div:nth-child(6) {
  float: left;
  margin: 3px;
  height: 5px;
  width: 34px;
  background: #f1eff1;
  border-radius: 3px;
}

.table-body .body-row {
  margin: 15px 0;
  height: 34px;
  width: 405px;
  background: #f1f6fe;
  border-radius: 3px;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.table-body .body-row:hover {
  height: 27px;
  width: 406px;
  background: #ffffff;
  -webkit-box-shadow: 2px 3px 24px rgba(74, 33, 88, 0.12);
          box-shadow: 2px 3px 24px rgba(74, 33, 88, 0.12);
  border-radius: 3px;
}

.table-body .body-row:nth-child(1) div {
  float: left;
  margin: 0 22px;
}

.table-body .body-row:nth-child(1) div:nth-child(1), .table-body .body-row:nth-child(1) .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) .body-row:nth-child(1) div:nth-child(3), .table-body .body-row:nth-child(1) .body-row:nth-child(2) div:nth-child(5), .table-body .body-row:nth-child(2) .body-row:nth-child(1) div:nth-child(5), .table-body .body-row:nth-child(1) .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) .body-row:nth-child(1) div:nth-child(3), .table-body .body-row:nth-child(1) .body-row:nth-child(3) div:nth-child(5), .table-body .body-row:nth-child(3) .body-row:nth-child(1) div:nth-child(5), .table-body .body-row:nth-child(1) .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) .body-row:nth-child(1) div:nth-child(3), .table-body .body-row:nth-child(1) .body-row:nth-child(4) div:nth-child(5), .table-body .body-row:nth-child(4) .body-row:nth-child(1) div:nth-child(5), .table-body .body-row:nth-child(1) div:nth-child(2), .table-body .body-row:nth-child(1) .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) .body-row:nth-child(1) div:nth-child(4), .table-body .body-row:nth-child(1) .body-row:nth-child(2) div:nth-child(6), .table-body .body-row:nth-child(2) .body-row:nth-child(1) div:nth-child(6), .table-body .body-row:nth-child(1) .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) .body-row:nth-child(1) div:nth-child(4), .table-body .body-row:nth-child(1) .body-row:nth-child(3) div:nth-child(6), .table-body .body-row:nth-child(3) .body-row:nth-child(1) div:nth-child(6), .table-body .body-row:nth-child(1) .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) .body-row:nth-child(1) div:nth-child(4), .table-body .body-row:nth-child(1) .body-row:nth-child(4) div:nth-child(6), .table-body .body-row:nth-child(4) .body-row:nth-child(1) div:nth-child(6), .table-body .body-row:nth-child(1) div:nth-child(3), .table-body .body-row:nth-child(1) div:nth-child(4), .table-body .body-row:nth-child(1) div:nth-child(5), .table-body .body-row:nth-child(1) div:nth-child(6) {
  height: 5px;
  width: 22px;
  border-radius: 3px;
  background: #e0e3e6;
}

.table-body .body-row:nth-child(2) div {
  margin: 0 22px;
}

.table-body .body-row:nth-child(2) div:nth-child(1), .table-body .body-row:nth-child(2) div:nth-child(3), .table-body .body-row:nth-child(2) div:nth-child(5) {
  height: 5px;
  width: 43px;
  border-radius: 3px;
  background: #80adf8;
}

.table-body .body-row:nth-child(2) div:nth-child(3) {
  width: 37px;
}

.table-body .body-row:nth-child(2) div:nth-child(5) {
  width: 30px;
}

.table-body .body-row:nth-child(2) div:nth-child(2), .table-body .body-row:nth-child(2) div:nth-child(4), .table-body .body-row:nth-child(2) div:nth-child(6) {
  height: 5px;
  width: 22px;
  border-radius: 3px;
  background: #c9dcfc;
}

.table-body .body-row:nth-child(2) div:nth-child(4) {
  width: 32px;
}

.table-body .body-row:nth-child(2) div:nth-child(6) {
  width: 21px;
}

.table-body .body-row:nth-child(3) div {
  margin: 0 22px;
}

.table-body .body-row:nth-child(3) div:nth-child(1), .table-body .body-row:nth-child(3) div:nth-child(3), .table-body .body-row:nth-child(3) div:nth-child(5) {
  height: 5px;
  width: 28px;
  border-radius: 3px;
  background: #f9cdd3;
}

.table-body .body-row:nth-child(3) div:nth-child(3) {
  width: 42px;
}

.table-body .body-row:nth-child(3) div:nth-child(5) {
  width: 30px;
}

.table-body .body-row:nth-child(3) div:nth-child(2), .table-body .body-row:nth-child(3) div:nth-child(4), .table-body .body-row:nth-child(3) div:nth-child(6) {
  height: 5px;
  width: 22px;
  border-radius: 3px;
  background: #f18997;
}

.table-body .body-row:nth-child(3) div:nth-child(4) {
  width: 32px;
}

.table-body .body-row:nth-child(3) div:nth-child(6) {
  width: 15px;
}

.table-body .body-row:nth-child(4) div {
  margin: 0 22px;
}

.table-body .body-row:nth-child(4) div:nth-child(1), .table-body .body-row:nth-child(4) div:nth-child(3), .table-body .body-row:nth-child(4) div:nth-child(5) {
  height: 5px;
  width: 38px;
  border-radius: 3px;
  background: #b766fe;
}

.table-body .body-row:nth-child(4) div:nth-child(3) {
  width: 36px;
}

.table-body .body-row:nth-child(4) div:nth-child(5) {
  width: 30px;
}

.table-body .body-row:nth-child(4) div:nth-child(2), .table-body .body-row:nth-child(4) div:nth-child(4), .table-body .body-row:nth-child(4) div:nth-child(6) {
  height: 5px;
  width: 22px;
  border-radius: 3px;
  background: #e8cdff;
}

.table-body .body-row:nth-child(4) div:nth-child(4) {
  width: 32px;
}

.table-body .body-row:nth-child(4) div:nth-child(6) {
  width: 21px;
}

#tax {
  padding: 40px 0 60px;
}

.tax-card:nth-child(1), .tax-card:nth-child(2) {
  height: 262px;
  width: 273px;
  background: #ffffff;
  -webkit-box-shadow: 22px 15px 54px rgba(0, 0, 0, 0.08);
          box-shadow: 22px 15px 54px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  position: absolute;
  right: 20%;
  top: 0;
  z-index: 1;
  -webkit-transition: z-index 0ms 400ms;
  transition: z-index 0ms 400ms;
  -webkit-transition: z-index 0ms 400ms, -webkit-transform 400ms 0ms;
  transition: z-index 0ms 400ms, -webkit-transform 400ms 0ms;
  transition: transform 400ms 0ms, z-index 0ms 400ms;
  transition: transform 400ms 0ms, z-index 0ms 400ms, -webkit-transform 400ms 0ms;
  transition: transform 400ms 0ms, z-index 0ms 400ms;
  padding: 70px 0;
}

.tax-card:nth-child(1) div, .tax-card:nth-child(2) div {
  height: 92px;
  width: 92px;
  border-radius: 3px;
  background: #f1f6fe;
  float: none;
  margin: 0 auto;
}

.tax-card:nth-child(1):hover, .tax-card:hover:nth-child(2) {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
  -webkit-transition: z-index 0ms 0ms;
  transition: z-index 0ms 0ms;
  -webkit-transition: z-index 0ms 0ms, -webkit-transform 400ms 0ms;
  transition: z-index 0ms 0ms, -webkit-transform 400ms 0ms;
  transition: transform 400ms 0ms, z-index 0ms 0ms;
  transition: transform 400ms 0ms, z-index 0ms 0ms, -webkit-transform 400ms 0ms;
  transition: transform 400ms 0ms, z-index 0ms 0ms;
}

.tax-card:nth-child(2) {
  height: 208px;
  width: 227px;
  background: #ffffff;
  -webkit-box-shadow: -25px 15px 54px rgba(0, 0, 0, 0.08);
          box-shadow: -25px 15px 54px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  right: 0;
  top: 20%;
  z-index: -1;
}

.tax-card:nth-child(2) div {
  height: 71px;
  width: 74px;
  border-radius: 3px;
  background: #fdf2f4;
  float: none;
  margin: 0 auto;
}

.tax-card:nth-child(2):hover {
  width: 273px;
  height: 262px;
  -webkit-box-shadow: 22px 15px 54px rgba(0, 0, 0, 0.08);
          box-shadow: 22px 15px 54px rgba(0, 0, 0, 0.08);
}

.tax-card:nth-child(2):hover div {
  height: 71px;
  width: 74px;
  border-radius: 3px;
  background: #fdf2f4;
}

.tax-card h5 {
  display: block;
  font-size: 20px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  width: 100%;
}

#import {
  padding: 40px 0 60px;
}

.import-box {
  height: 291px;
  width: 419px;
  background: #ffffff;
  -webkit-box-shadow: -1px 15px 54px rgba(0, 0, 0, 0.08);
          box-shadow: -1px 15px 54px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 30px;
  color: #2c3847;
  font-size: 18px;
  font-weight: 700;
}

form .form-control:focus {
  border-color: #e5ebed;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .form-group {
  margin: 30px 0;
}

form .form-group .form-control:focus {
  border-color: #e5ebed !important;
}

.btn-white {
  height: 35px;
  width: 80px;
  background: #fcf9fd;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: 1px solid #ddc7e6;
  color: #ac76c3;
}

#screen-shot {
  background: #fcfaff;
  border-radius: 170px;
}

#screen-shot .section-headline {
  padding: 105px 0 0;
}

.img-frame {
  height: 160px;
  width: 294px;
  background: #ffffff;
  -webkit-box-shadow: -1px 15px 54px rgba(0, 0, 0, 0.06);
          box-shadow: -1px 15px 54px rgba(0, 0, 0, 0.06);
  border-radius: none;
}

#demo {
  background-image: -webkit-gradient(linear, right top, left top, from(#00c6fb), to(#005bea));
  background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);
  padding: 70px 0;
  border-radius: 200px;
}

#demo h1 {
  font-size: 34px;
  color: #ffffff;
  width: 581px;
}

#demo p {
  width: 485px;
  color: #8ddcff;
}

#demo img {
  height: 123px;
  width: 92px;
}

.demo-btn {
  height: 50px;
  width: 159px;
  background: #ffffff;
  -webkit-box-shadow: -1px 8px 15px rgba(0, 0, 0, 0.13);
          box-shadow: -1px 8px 15px rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  color: #009df5;
}

#footer {
  padding: 130px 0 105px;
}

#footer h5 {
  color: #2c3847;
  font-size: 25px;
  margin-bottom: 30px;
}

#footer img {
  margin-bottom: 30px;
}

#footer .subscribe-input {
  margin-bottom: 30px;
  height: 50px;
  width: 265px;
  background: #ffffff;
  -webkit-box-shadow: 0 6px 11px rgba(5, 22, 36, 0.07);
          box-shadow: 0 6px 11px rgba(5, 22, 36, 0.07);
  border-radius: 3px;
  border: 1px solid #e3e6e8;
  padding: 0 0 0 20px;
}

#footer .subscribe-btn {
  margin-bottom: 30px;
  color: #ffffff;
  height: 50px;
  width: 153px;
  border-radius: 3px;
  background: #2b62c9;
}

#footer-bottom {
  height: 76px;
  width: 100%;
  background: #f8f8f8;
  -webkit-box-shadow: 0 -1px 0 #e9e7e7;
          box-shadow: 0 -1px 0 #e9e7e7;
  border-radius: 0;
}

#footer-bottom a {
  color: #ffffff;
}

#footer-bottom a {
  color: #ffffff;
}

body, p, button, h1, h2, h6, h5, h3, h4, li, table, form {
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 14px;
  font-weight: 700;
  color: #758598;
  line-height: 30px;
}

p, form {
  font-weight: 400;
  font-size: 16px;
  color: #758598;
}

.sub-headline h3 {
  font-weight: 700;
  color: #2c3847;
  width: 320px;
  font-size: 30px;
}

.sub-headline p {
  width: 380px;
}

h2 {
  font-size: 40px;
}

h6 {
  font-size: 18px;
}

h1, h2, h5, h6 {
  font-weight: 700;
}

.clr {
  clear: both;
}

.mute-text {
  color: #758598;
}
/*# sourceMappingURL=style.css.map */