#footer{
    @include phone {
        text-align: center;
    }
    h5{
        color: $nav_color;
        font-size: 25px;
        margin-bottom: 30px;
    }
    img{
        margin-bottom: 30px;
    }
    .subscribe-input{
        margin-bottom: 30px;
        @include box(50px,265px,$white,0 6px 11px rgba(5, 22, 36, 0.07),$primary_radius);
        border: 1px solid #e3e6e8;
        padding: 0 0 0 20px;
    }
    .subscribe-btn{
        margin-bottom: 30px;
        color: $white;
        @include tdDataThree(50px,153px,$primary_radius,#2b62c9);
        @include phone {
            width: 120px;
            height: 40px;
        }
    }
}

#footer-bottom{
    @include box(76px,100%,#f8f8f8,0 -1px 0 #e9e7e7,0);
    padding: 20px 0;
    a {
        color: $white;
    }
}
#footer-bottom {
    .social-item{
        padding: 10px 5px; 
    }
}