.cards{
    @include tab{
        width: 90%;
        margin: 50px 20%;
    }
}

.product-card{
    width: 270px;
    height: 250px;
    border-radius: 3px;
    background-color: $white;
    padding: 25px 30px;
    transition: 3s;    
    img{
        position: absolute;
        z-index: -1;
        top: 0;
        height: 290px;
    }
    h4{
        font-size: 18px;
        font-weight: 500;
        color: #2c3847;
    }
    &:nth-child(1){
        box-shadow: 2px 4px 30px rgba(74, 33, 88, 0.09);
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        @include phone {
            width: 90%;
            position: relative;
            margin: 5px auto;
            left: 0;
            top: 0;
        }
        &:hover {
        box-shadow: 31px 26px 64px rgba(74, 33, 88, 0.23);
        z-index: 4;
    }
    }
    &:nth-child(2){
        box-shadow: 2px 4px 30px rgba(74, 33, 88, 0.09);
        z-index: 2;
        position: absolute;
        top: 30px;
        left: 235px;
        width: 226px;
        @include phone {
            width: 90%;
            position: relative;
            margin: 5px auto;
            left: 0;
            top: 0;
        }
        &:hover{
            z-index: 4;
            left: 30%;
            width: 270px;
            box-shadow: 31px 26px 64px rgba(74, 33, 88, 0.23);
        }
        li:nth-child(1){
            .card-border{
                @include cardBorder(7px,160px,linear-gradient(to right, #1abc9c 0%, #b9eae1 40%, #ffffff 100%),4px,0.4);
            }
        }
        li:nth-child(2){
            .card-border{
                @include cardBorder(7px,130px,linear-gradient(to right, #9013fe 0%, #ffffff 100%),4px,0.4);
            }
        }
        li:nth-child(3){
            .card-border{
                @include cardBorder(7px,160px,linear-gradient(to right, #2b62c9 0%, #ffffff 100%),4px,0.4);
            }
        }
        li:nth-child(4){
            .card-border{
                @include cardBorder(7px,100px,linear-gradient(to right, #f09944 0%, #ffffff 100%),4px,0.4);
            
            }
        }
        
    }
    &:nth-child(3){
        box-shadow: 2px 4px 30px rgba(74, 33, 88, 0.09);
        z-index: 1;
        position: absolute;
        top: 40%;
        left: 60px;
        @include phone {
            width: 90%;
            position: relative;
            margin: 5px auto;
            left: 0;
            top: 0;
        }
        &:hover{
            box-shadow: 31px 26px 64px rgba(74, 33, 88, 0.23);
            z-index: 4;
            top: 0;
        }
        .card-border{
            &:nth-child(1){
                position: absolute;
                top: 40%;
                @include cardBorder(5px,70px,linear-gradient(to right, #2b62c9 0%, #ffffff 100%),4px,0.4);
            }
            &:nth-child(2){
                position: absolute;
                top: 50%;
                @include cardBorder(5px,70px,linear-gradient(to right, #2b62c9 0%, #ffffff 100%),4px,0.4);
            }
            &:nth-child(3){
                position: absolute;
                top: 60%;
                @include cardBorder(5px,70px,linear-gradient(to right, #2b62c9 0%, #ffffff 100%),4px,0.4);
            }
            &:nth-child(4){
                position: absolute;
                top: 70%;
                @include cardBorder(5px,70px,linear-gradient(to right, #2b62c9 0%, #ffffff 100%),4px,0.4);
            }
            &:nth-child(5){
                position: absolute;
                top: 80%;
                @include cardBorder(5px,70px,linear-gradient(to right, #2b62c9 0%, #ffffff 100%),4px,0.4);
            }
            &:nth-child(6){
                position: absolute;
                top: 90%;
                @include cardBorder(5px,70px,linear-gradient(to right, #2b62c9 0%, #ffffff 100%),4px,0.4);
            }
        }
        
    }
    

}