#screen-shot{
    .py-5 {
        @include phone {
            padding-top: 0!important;
            padding-bottom: 0!important;
        }
    }
    background: #fcfaff;
    border-radius: 170px;
    @include tab {
        border-radius: 0;
    }
    .section-headline{
    padding: 0;
    }
    
}

.img-frame{
    @include box(160px,294px,$white,-1px 15px 54px rgba(0, 0, 0, 0.06),none);
    @include phone{
        width: 90%;
        margin: 5px auto;
    }
}